@charset "UTF-8";


.m-nav {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 8px;
    padding-top: 40px;
    list-style: none;
    font-size: 85%;
    
}

.m-nav>li {
    display: inline-block;
}

.m-nav>li+li::before {
    content: " > ";
}


.shop-info {
    position: relative;
}

.bookmark {
    position: absolute;
    text-decoration: none;
    color: #000;
    right: 0;
    top: 40px;
    font-size: 80%;
    background-image: url(/BaeminCopy/img/btn-fav.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 14px;
    padding-left: 27px;
    font-weight: 700;
    cursor: pointer;
    text-align: top;
}

.shop-basic-info {
    margin: 0 0 1.3em;  
    width: 100%;
    line-height: 1.4;
}

.shop-basic-info h1 {
    padding-top: 0.3em;
    font-size: 120%;
    line-height: 1;     
}    

.box {
    background-color: #fff;
    border: 1px solid #dad3c7;
}

.of-h {
    padding: 1.3em;
    overflow: hidden;
}

.pull-left {
    float: left !important;
}

.shop-basic-info .address {
    margin-top: 2px;
    padding-right: 4px;
    padding-top: 0.4em;
    padding-left: 4px;
}.shop-basic-info .address.small {
    font-size: 80%;
}

.rating>.star_rate {
    float: left;
    width: 94px;
    height: 16px;
    background-position: 0 0;
}

.rating .img_star {
    background-image: url(/BaeminCopy/img/img-star.png);
    background-repeat: repeat;
}

.shop-basic-info .rating {
    float: left;
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 5px;
    display: inline-block;
    
}

.rating>.star_rate>.inner_star {
    display: block;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-position: 0 -17px;
    text-indent: -9999px;
}

.shop-basic-info .rating strong {
    display: inline-block;
    margin-left: 5px;
    padding-top: 1px;
    vertical-align: top;
}

.small {
    font-size: 80%;
}

.shop-basic-info .shop-info-tag {
    float: right;
    width: 30%;
    text-align: right;
    padding-top: 0.3em;
}

.shop-basic-info .of-h .shop-info-tag .card, .shop-basic-info .of-h .shop-info-tag .phone, .shop-basic-info .of-h .shop-info-tag .point {
    background-color: #dad4c8;
    color: #fff;
    font-size: 80%;
    padding: 4px 5px 2px;
    text-align: center;  
    letter-spacing: -0.1em;
}
.shop-basic-info .of-h .shop-info-tag .card.on, .shop-basic-info .of-h .shop-info-tag .phone.on, .shop-basic-info .of-h .shop-info-tag .point.on {
    background-color: #877b63;
}



.wrapper .shop-menu-review {
    display: inline-block;
    width: 72%;
}

.wrapper .shop-info-det-cart {
    float: right;
    position: relative;
    width: 25%;
}

.wrapper .cart {
    background-color: #fff;
        
}


.shop-menu-review {
    margin-bottom: 1.3em;
    
}

.col-lg-4 {
    float: left;
}

.shop-menu-review .menu {
    border: 1px solid #dad3c7;
    margin-bottom: 1.3em;
}

.shop-menu-review .menu .nav-menu-review {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

 .shop-menu-review .menu .nav-menu-review>li {
    display: inline-block;
}

.shop-menu-review .menu .nav-menu-review .active-menu {
    width: 50%;
    padding: 14px 15px;
    background-color: #fff;
    text-align: center;
    
    
}

.shop-menu-review .menu .nav-menu-review .active-menu a {
    background-image: url(/BaeminCopy/img/tl-tab-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 15px;
    text-indent: -9999px;
    height: 3.8em; 
    cursor: default;
    z-index: 1000px;
	color: transparent;   
}

.active-review {
    width: 50%;
    padding: 14px 15px;
    background-color: #fff;
    text-align: center;
    background-image: url(/BaeminCopy/img/tl-tab-review.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ddd7c7;
}

.active-review a {
	color: transparent; 
}

.shop-menu-review .menu .menu-sect {
    padding: 30px;
    background-color: #fff;
}

.panel-group .panel {
    margin-bottom: 10px;
    border-radius: 0;
    overflow: auto;
    border: 0;
}

.panel-default {
    background-color: #817c74;
}

.panel-default>.panel-heading {
    background-position: 98% center;
    background-color: #817c74;
    background-image: url(/BaeminCopy/img/ico-panel-default-open.png);
    background-repeat: no-repeat;
    color: #fff;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 95%;
}

.panel-title>a {
    padding-left: 10px;
    padding-right: 30px;
    display: block;
    width: 100%;
    padding: 14px 15px;
    color: #fff;
    text-decoration: none;
}

.panel-body {
    padding-bottom: 0;
    padding-top: 15px;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top-color: #817c74;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
     border-top-color: #817c74;
}

.rec-menu::before, .rec-menu::after {
    content: " ";
    display: table;
}

.thumbnail.shop-menu-panel {
    padding: 0;
    margin-bottom: 18px;
}

.thumbnail {
    border: 1px solid #dedede;
    padding: 15px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 0;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
    display: block;
}

.thumbnail>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border: 0;
}


.thumbnail.shop-menu-panel .caption {
    padding: 12px 10px 10px;
    border-top: 1px solid #ddd;
    color: #222;
}

.thumbnail.shop-menu-panel .caption>div {
    overflow: hidden;
}

.thumbnail.shop-menu-panel .caption>div span {
    width: 100%;
    padding-top: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.3;
    vertical-align: text-bottom;
}

.thumbnail.shop-menu-panel .caption>div strong {
    width: 100%;
    padding-top: 0;
    line-height: 1.3;
    vertical-align: text-bottom;
}

.panel-default .panel-collapse .panel-body {
    border-top-color: #817c74;
    border-top: 0;
}

.panel-body-brd {
    border: solid #dedede;
    border-width: 0 1px 1px 1px;
    padding: 0;
}

.panel-inner-group .panel {
    margin-bottom: 0;
}

.panel {
    background-color: #fff;
    border: 0;
}

.panel-inner-group .panel-heading {
    margin: 5px 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 0;
}

.panel-inner-group .panel-title {
    position: relative;
}

.panel-inner-group .panel-title>a {
    display: inline-block;
    max-width: 58%;
    padding-right: 10px;
    line-height: 1.1;
    color: #000;
    text-decoration: none;
}

.panel-inner-group .panel-heading a {
    outline: 0;
}

.panel-title>a {
    padding-left: 10px;
    padding-right: 30px;
}

.panel-title>a {
    display: block;
    width: 100%;
    padding: 14px 15px;
    color: #fff;
    text-decoration: none;
}

.panel-title>a .menu-detail {
    display: block;
    margin-top: 5px;
    color: #8d8d8d;
    font-weight: normal;
    font-size: 11px;
}

.panel-body .panel-inner-group .panel .panel-heading .panel-title .basic-option-group {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -15px;
	padding: 5px;
	text-align: right;	
}

.panel-body .panel-inner-group .panel .panel-heading .panel-title .basic-option-group .price {
	display: inline-block;
	margin-top: 5px;
}

.accordion-toggle+.basic-option-group .opt-open {
	display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/BaeminCopy/img/ico-panel-inner-close.png);
    background-repeat: no-repeat;
    background-position: 0 -2px;
    text-align: left;
    text-indent: -9999px;
}

.cur {
	cursor: pointer;
}

.panel-body-option {
    padding: 20px 0 15px !important;
    background-color: #f4f2ee;
    background-image: none;
}

.panel-body-option .menu-info {
	overflow:hidden;
	padding: 0 10px 0 0;
    line-height: 1.2;
    letter-spacing: 0;
}

.panel-body-option .menu-info .inner-brd {
    float: left;
    overflow: hidden;
    border: 1px solid rgba(110,110,110,0.09);
    margin: 0 15px 0 10px;
}

.panel-body-option .menu-info .inner-brd>img {
    width: 207px;
    height: 146px;
    float: left;
    margin: -1px;
}

.panel-body-option .select-option {
    margin-top: 15px;
    background-color: #f4f2ee;
    padding: 15px 10px 0;
}

.panel-body-option .select-option>.option-tit {
    padding-bottom: 6px;
    font-weight: bold;
}

.text-primary {
	color: #ff4200;
}

.panel-body-option .select-option>.select-group {
    margin-bottom: 10px;
}

.origin-mark {
    margin-top: -1px;
    padding: 22px 25px;
    font-size: 95%;
    border-top: 1px solid #dbd9d7;
    border-bottom: 1px solid #d1c8ba;
    border-left: 1px solid #dad3c7;
    border-right: 1px solid #dad3c7;
    background-color: #f4f2ee;
}

.origin-mark dl {
    margin: 0;
}

.origin-mark dl dt {
    padding-bottom: 6px;
}

.origin-mark dl dd {
    line-height: 1.4;
    letter-spacing: -0.4px;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
    font-size: 80%;
}

.info-det h2{
    padding: 17px 15px 15px;
    font-size: 85%;
}

.info-det {
	margin-bottom: 20px;
	background-color: #fff;
    border-top: 1px solid #dad3c7;
    border-right: 1px solid #dbd4c8;
    border-bottom: 1px solid #c4bdb3;
    border-left: 1px solid #dbd4c8;
}


.info-det dl.xsmall {
    font-size: 11px;
    display: block;
    padding: 15px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    margin: 0;
}

.info-det dl dt {
	float: left;
    width: auto;
    clear: left;
    padding-bottom: 3px;
    text-align: right;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
}

.info-det dl dd {
	margin-left: 60px;
    padding-bottom: 3px;
    font-size: 100%;
}

.cart h2{
    padding: 17px 15px 15px;
    font-size: 85%;
}

.cart {
	margin-bottom: 20px;
	background-color: #fff;
    border-top: 1px solid #dad3c7;
    border-right: 1px solid #dbd4c8;
    border-bottom: 1px solid #c4bdb3;
    border-left: 1px solid #dbd4c8;
}

.cart .notice {
    padding: 25px 0;
    border-top: 1px solid #cbc7bf;
}

.text-center {
    text-align: center;
}

.shop-menu-review .review {
    border: 1px solid #dad3c7;
}

.shop-menu-review .review .nav-menu-review {
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

 .shop-menu-review .review .nav-menu-review>li {
    display: inline-block;
}

.shop-menu-review .review .nav-menu-review .active-menu {
    width: 50%;
    padding: 14px 15px;
    background-color: #ddd7c7;
    text-align: center;
    
    
}

.shop-menu-review .review .nav-menu-review .active-menu a {
    background-image: url(/BaeminCopy/img/tl-tab-menu.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 15px;
    text-indent: -9999px;
    height: 3.8em; 
    cursor: default;
    z-index: 1000px;
	color: transparent;   
}

.review .active-review {
    width: 50%;
    padding: 14px 15px;
    background-color: #fff;
    text-align: center;
    background-image: url(/BaeminCopy/img/tl-tab-review.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}

.active-review a {
	color: transparent; 
}

.view-review {
	padding: 15px 0 12px
}

.review>.box {
	border: 0;
	background-color: #fff;
}

.view-review .media {
    padding: 10px 20px;
    margin-top: 0;
}

.media, .media-body {
	overflow: hidden;
    zoom: 1;
}

.view-review .media>.pull-left {
    margin-right: 20px;
}

.pull-left {
	float: left !important;	
}

.view-review .inner-brd {
    float: left;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.1);
}

.view-review .inner-brd>img {
    float: left;
    width: 65px;
    height: 65px;
    margin: -1px;
}

.noimg {
    display: inline-block;
    width: 24px;
    height: 26px;
    background-image: url(/BaeminCopy/img/img-noimg.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f6f6f6;
    background-size: 48px 52px;
    -webkit-background-size: 48px 52px;
}

.view-review .media>.media-body {
    word-wrap: normal;
    word-break: break-all;
    letter-spacing: .01em;
}


.media-heading {
    margin: 0 0 5px;
}

.view-review .media>.media-body .time {
    font-size: 11px;
    color: #8a8b8f;
}

.view-review .media>.media-body .rating {
    margin-bottom: 10px;
}

.rating {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 3px 0 5px;
}

.rating>.star_rate {
    float: left;
    width: 94px;
    height: 16px;
    background-position: 0 0;
}

.rating .img_star {
    background-image: url(/BaeminCopy/img/img-star.png);
    background-repeat: repeat;
    background-position: 0 0;
}

.rating>.star_rate>.inner_star {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    background-position: 0 -17px;
    text-indent: -9999px;
}

.view-review .media>.media-body .img-review-group {
    overflow: hidden;
    margin: 15px 0 0;
}

.view-review .media>.media-body .img-review-group img {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#review_ajax_paging {
    padding: 0 20px 20px;
}

.btn-md {
    padding: 13px 16px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 0;
}

.btn-default {
    color: #fff;
    background-color: #948f88;
    border-top: 1px solid #858077;
    border-right: 1px solid #858077;
    border-bottom: 1px solid #858077;
    border-left: 1px solid #858077;
}

.btn span.btn-order, .btn span.btn-comp-review, .btn span.btn-mod-review, .btn span.btn-put-cart, .btn span.btn-cancel, .btn span.btn-view-more {
    font-size: 120%;
    font-weight: bold;
}

.btn span {
    display: inline-block;
    font-size: 85%;
    text-indent: 0;
}

.btn-view-more {
    width: 43px;
    height: 15px;
    background-position: 0 -400px;
}

#review_ajax_paging .btn {
    border-radius: 0;
    display: inline-block;
    padding: 13px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cart>.btn-success {
    width: 100%;
    height: 50px;
}

.btn-success {
    color: #fff;
    background-color: #393939;
    border-top: 1px solid #2c2c2c;
    border-right: 1px solid #2c2c2c;
    border-bottom: 1px solid #2c2c2c;
    border-left: 1px solid #2c2c2c;
}

.btn span {
    display: inline-block;
    font-size: 100%;
    text-indent: 0;
    font-weight: 900;
}

.cur {
    cursor: pointer;
}

.ir-el {
    display: none;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    text-align: left;
    text-indent: -9999px;
}

.panel-heading .panel-title>.basic-option-group>.put-cart {
    width: 22px;
    height: 20px;
    margin: 0 5px;
    padding-top: 2px;
    background-image: url(/BaeminCopy/img/ico-put-cart.png);
}

.collapse {
	display: none;
}